openapi: 3.0.1
info:
  description: a description
  version: 1.0.0
  title: API
servers:
  - url: https://api.com
  - url: https://api.com/v1
  - url: /v2
  - url: /v2/{basePath}
    variables:
      basePath:
        default: foo
  - url: https://{sub}.api.com/{basePath}
    variables:
      sub:
        default: demo
      basePath:
        default: v2
paths:
  # this path is setup to ensure it will not found by matching only /fixed/
  # from paramCheck operation ending with /fixed/ too.
  /fixed/:
    post:
      operationId: op1
      requestBody:
        content:
          'application/json': {}
      responses:
        '200':
          description: a description
          headers:
            X-Rate-Limit:
              description: The number of allowed requests in the current period
              schema:
                nullable: true
                type: integer
          content:
            'application/json': {}
  /fixed/{intPathParam}/fixed/{stringPathParam}/fixed/:
    get:
      operationId: op2
      parameters:
        - name: intPathParam
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: stringPathParam
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: a description
          headers:
            X-Rate-Limit:
              description: The number of allowed requests in the current period
              schema:
                nullable: true
                type: integer
          content:
            'application/json': {}
